/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* UTILITY */

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.row-reverse {
	flex-direction: row-reverse;
}

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.bgwhite {
    background-color: white;
}

.bggrey {
    background-color: #F6F6F6;
}

.bgblack {
    background-color: #23272A;
}

.f-weight-500 {
    font-weight: 500;
}

.f-weight-700 {
    font-weight: 700;
}

/* LAYOUT */

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container-sm {
    max-width: 700px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-16_5 {
    width: calc(100% / 6)
}

.col-25 {
    width: 25%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-50 {
    width: 50%;
}

.col-66 {
    width: calc(2 * 100% / 3);
}

.col-100 {
    width: 100%;
}

/* STYLE */

* {
    font-family: 'gg sans', sans-serif;
}

[class^=button] {
    border-radius: 25px ;
    padding: 10px 15px;
    font-size: 16px;
}

.button-white {
    background-color: white;
    color: black;
}

.button-black {
    background-color: #23272A;
    color: white;
}

.button-blue {
    background-color: #8EA1E1;
    color: white;
}

/* HEADER */

header {
    padding-top: 20px;
    color: white;
    background-color: #255EE9;
}

header nav .links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 600;
    font-size: 12px;
}

header nav [class^=button] {
    font-size: 12px;
}

header section {
    padding: 20px 0;
}

.main-intro {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    padding: 80px 0 120px 0; 
    color: white;
}

.main-intro h1 {
    margin: 10px 0 25px 0;
    font-size: 48px;
}

.main-intro p {
    margin: 20px 0;
    font-size: 18px;

}

.main-intro .main-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* MAIN */

main section {
    padding: 80px 0;
}

main .row {
    align-items: center;
    align-items: stretch;
}

main .col-33 {
    padding: 30px 15px;
}

main h2 {
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 20px;
}

main .item-big {
    text-align: center;
}

.bg-stars {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    min-width: 200px;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.item-big .button-blue {
    display: inline-block;
}

/* FOOTER */

footer {
    padding: 50px 0;
}

footer section{
    padding-top: 5px;
    padding-bottom: 20px;
    color: white;
}

footer .cards {
    border-bottom: 1px solid #8EA1E1;
    padding: 20px 0;
    font-size: 12px;
}

footer .cards row {
    align-items: flex-start;
}

footer .cards [class^=col] {
    padding: 0 50px;
}

.language-menu {
}

.language-menu img {
    max-width: 20px;
    margin: 0 4px;
    vertical-align: middle;
}

footer h2, footer h3 {
    color: #8EA1E1;
}

footer nav .row {
    padding: 10px 0;
    justify-content: space-between;
}

footer [class^=button] {
    font-size: 12px;
}

.wave-container {
    width: 100%;
    height: 50px;
    background-color: white;
}

.wave-container-white {
    width: 100%;
    height: 50px;
    background-color: #F6F6F6;
}